# EchoHands - Python dependencies
# Tested with Python 3.10

tensorflow==2.16.1
mediapipe==0.10.21
opencv-contrib-python==4.11.0.86
numpy==1.26.4
scikit-learn==1.7.2
joblib==1.5.3
pandas==2.3.3
matplotlib==3.10.9